---
extension: css
filter:    erb
layout:    nil   # no layout

color:
  border:      "#ddd"
  header:      "#111"
  link:        "#125AA7"
  link-hover:  "#000"
  blockquote:  "#666"
  box-bg:      "#eee"
  highlight:   "#B2CCFF"
  quiet:       "#666"
  alt:         "#666"
---

body {
  font-family: Verdana, "Bitstream Vera Sans", sans-serif;
}

.headline {
  height: 50px;
  border-bottom: 2px solid white;
  border-top: 3px solid #9999ff;
  background-color: #3333ff;
  color: white;
}

.headline a {
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
}

.headline a:hover {
  text-decoration: underline;
}

p.header {
  text-align: center;
  font-size: 200%;
  margin-top: 5px;
}

.info-box-left {
  text-align: left;
  font-size: 130%;
  margin-top: 10px;
}

.info-box-right {
  text-align: right;
  font-size: 130%;
  margin-top: 10px;
}

#content-area {
  height: 400px;
  overflow: auto;
}

table.master {
}

table.grid {
	border-width: thick thick thick thick;
	border-spacing: 4px;
	border-style: solid solid solid solid;
	border-color: red red red red;
	border-collapse: collapse;
	background-color: white;
}

table.grid td {
	border-width: 0px 0px 0px 0px;
	padding: 5px 5px 5px 5px;
	border-style: solid solid solid solid;
	border-color: green green green green;
	-moz-border-radius: 0px 0px 0px 0px;
  height: 140px;
  width: 120px;
}

.empty-cell-1 {
  background-color: #000044;
}

.empty-cell-2 {
  background-color: #440000;  
}

.empty-cell-3 {
  background-color: #004400;
}

.empty-cell-4 {
  background-color: #220022;  
}

.best-opportunity-cell {
  background-color: #ffff44;
}

.smart-growth-cell {
  background-color: #ff44ff;
}

.facts-vs-myth-cell {
  background-color: #44ffff;
}

.jobs-economics-cell {
  background-color: #44ff44;  
}

.green-future-cell {
  background-color: #ff4444;  
}

/* EOF */
