---
extension: css
filter:    erb
layout:    nil   # no layout

color:
  border:      "#ddd"
  header:      "#111"
  link:        "#125AA7"
  link-hover:  "#000"
  blockquote:  "#666"
  box-bg:      "#eee"
  highlight:   "#B2CCFF"
  quiet:       "#666"
  alt:         "#666"
---

body {
  font-family: Verdana, "Bitstream Vera Sans", sans-serif;
  background-color: black;
  overflow: hidden;
}

.pagebody {
  background-image: url('/images/fuzzyparchmayfarmcenter.png');
/*   background-repeat: no-repeat; */
}

.headline {
  height: 50px;
  border-top: 20px solid black;
  background-image: url('/images/headline-slice.png');
  background-repeat: repeat-x;
  border-bottom: 1px solid #b7c5d1;
  color: white;
}

.headline a {
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
}

.headline a:hover {
  text-decoration: underline;
}

.footer {
  border-bottom: 100px solid black;
  background-image: url('/images/footer-slice.png');
  background-repeat: repeat-x;
  color: white;  
}

.credits {
  text-align: right;
}

p.header {
  text-align: center;
  font-size: 200%;
  margin-top: 5px;
}

.info-box-left {
  text-align: left;
  font-size: 130%;
  margin-top: 10px;
}

.info-box-right {
  text-align: right;
  font-size: 130%;
  margin-top: 10px;
}

#content-area {
  background-color: #77dddd;
  height: 400px;
  overflow: auto;
}

table.master {
}

table.grid {
	border-spacing: 0px;
	border-collapse: collapse;
}

table.grid td {
	border-width: 0px 0px 0px 0px;
	padding: 0px;
	margin: 0px;
	border-style: solid solid solid solid;
	border-color: green green green green;
	-moz-border-radius: 0px 0px 0px 0px;
/*  height: 140px;
  width: 120px; */
  text-align: center;
}

.empty-cell-1 {
  background-image: url('/images/empty-placeholder.png');
  background-repeat: no-repeat;
}

.empty-cell-2 {
  background-image: url('/images/empty-placeholder.png');
  background-repeat: no-repeat;
}

.empty-cell-3 {
  background-image: url('/images/empty-placeholder.png');
  background-repeat: no-repeat;
}

.empty-cell-4 {
  background-image: url('/images/empty-placeholder.png');
  background-repeat: no-repeat;
}

.best-opportunity-cell {
}

.smart-growth-cell {
}

.facts-vs-myth-cell {
}

.downtown-cell {
}

.green-future-cell {
}

.label {
  font-weight: bold;
}

ul.myths {
  border: 3px solid #aaddaa;
  margin: 5px;
  padding: 5px;
  text-size: small;
}

ul.myths li {
  list-style: none;
  margin-bottom: 3px;
}
/* EOF */
